.section {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  --progress: 0;
}

.section__media {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  transform: scale(var(--progress));
}

.section__media__front,
.section__media__back {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.section__media__front {
  filter: blur(2px);
}

.section__media__front img {
  /* Ideally use a mask here, simplified for now */
  /* mask-image: url(./mask.png); */
  /* mask-position: 50% 50%; */
  /* mask-size: cover; */
}

.front-1 { transform: scale(1); }
.front-2 { transform: scale(0.85); }
.front-3 { transform: scale(0.6); }
.front-4 { transform: scale(0.45); }
.front-5 { transform: scale(0.3); }
.front-6 { transform: scale(0.15); }

.section__media img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.section h1 {
  font-family: var(--font-museo);
  font-size: 8vw;
  font-weight: 700;
  display: flex;
  position: relative;
  z-index: 10;
  color: black; /* Changed from white to black */
  line-height: 1;
}

.section h1 span {
  display: inline-block;
}

.left {
  transform: translate3d(calc(var(--progress) * (-66vw + 100%) - 0.5vw), 0, 0);
}

.right {
  transform: translate3d(calc(var(--progress) * (66vw - 100%)), 0, 0);
}

@media (max-width: 768px) {
  .section h1 {
    font-size: 9vw;
  }
  .left {
    transform: translate3d(calc(var(--progress) * (-100vw + 100%) - 0.5vw), 0, 0);
  }
  .right {
    transform: translate3d(calc(var(--progress) * (100vw - 100%)), 0, 0);
  }
}

.section__images {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  perspective: 100vh;
  pointer-events: none; /* Let scroll pass through */
}

.section__images img {
  position: absolute;
  width: 10vw;
  height: auto;
  object-fit: contain;
}

@media (max-width: 768px) {
  .section__images img {
    width: 20vw;
  }
}

/* Image Positions */
.section__images img:nth-of-type(1) { top: 15vw; left: -3vw; }
.section__images img:nth-of-type(2) { top: 5vw; left: 20vw; }
.section__images img:nth-of-type(3) { top: 8vw; left: 26.5vw; }
.section__images img:nth-of-type(4) { top: 18vw; right: 18vw; }
.section__images img:nth-of-type(5) { top: 5vw; right: 10vw; }
.section__images img:nth-of-type(6) { bottom: 5vw; left: 10vw; }
.section__images img:nth-of-type(7) { bottom: 8vw; left: 22.5vw; }
.section__images img:nth-of-type(8) { bottom: 3vw; left: 45vw; }
.section__images img:nth-of-type(9) { bottom: 5vw; right: 15vw; }
.section__images img:nth-of-type(10) { bottom: 9vw; right: 7vw; }

/* Mobile Positions Override */
@media (max-width: 768px) {
  .section__images img:nth-of-type(3) { top: 30vw; left: 30vw; }
  .section__images img:nth-of-type(4) { right: 15vw; top: 30vw; }
  .section__images img:nth-of-type(5) { top: 10vw; right: 5vw; }
  .section__images img:nth-of-type(6) { left: 5vw; }
  .section__images img:nth-of-type(7) { left: 10vw; bottom: 27.5vw; }
  .section__images img:nth-of-type(8) { bottom: 10vw; left: 35vw; }
  .section__images img:nth-of-type(9) { bottom: 5vw; }
  .section__images img:nth-of-type(10) { right: 3vw; bottom: 22vw; }
}
