.shapeContainer {
  position: absolute;
  bottom: -15%;
  right: -5%;
  width: 75vw;
  max-width: 750px;
  min-width: 350px;
  aspect-ratio: 573 / 416;
  pointer-events: none;
  z-index: 0;
  opacity: 0.8;
}

.svgContainer {
  width: 100%;
  height: 100%;
  overflow: visible;
}

.innerGradient {
  width: 100%;
  height: 100%;
  
  /* Gradient Background Props */
  --x-0: 85%;
  --y-0: 80%;
  --c-0: hsla(267, 52%, 83%, 1);
  --c-1: hsla(336, 100%, 82%, 1);
  --y-1: 24%;
  --x-1: 60%;
  --c-2: hsla(54, 100%, 65%, 0.49);
  --x-2: 13%;
  --s-start-0: 9%;
  --s-end-0: 55%;
  --s-start-1: 5%;
  --s-end-1: 72%;
  --s-start-2: 5%;
  --s-end-2: 52%;
  --y-2: 82%;
  --x-3: 24%;
  --c-3: hsla(299, 72%, 68%, 1);
  --s-start-3: 13%;
  --s-end-3: 68%;
  --y-3: 7%;
   
  background-color: rgba(255, 255, 255, 0.75);
  background-image: 
    url("data:image/svg+xml,%3Csvg viewBox='0 0 1133 1133' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.6' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E"), 
    radial-gradient(circle at var(--x-0) var(--y-0), hsla(267, 48%, 88%, 0.65) var(--s-start-0), transparent var(--s-end-0)), 
    radial-gradient(circle at var(--x-1) var(--y-1), hsla(336, 70%, 88%, 0.65) var(--s-start-1), transparent var(--s-end-1)), 
    radial-gradient(circle at var(--x-2) var(--y-2), hsla(54, 90%, 74%, 0.55) var(--s-start-2), transparent var(--s-end-2)), 
    radial-gradient(circle at var(--x-3) var(--y-3), hsla(299, 70%, 80%, 0.6) var(--s-start-3), transparent var(--s-end-3)),
    linear-gradient(135deg, hsla(267, 52%, 88%, 0.55), hsla(336, 70%, 86%, 0.55));
  animation: ani-hero-gradient 10s linear infinite alternate;
  background-blend-mode: overlay, normal, normal, normal, normal, normal;
  will-change: transform, opacity;
  background-size: 200% 200%;
  background-position: center;
}

:global(.dark) .innerGradient {
  background-color: hsla(306, 35%, 10%, 0.9);
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 1133 1133' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.6' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E"),
    radial-gradient(circle at 34% 12%, hsla(23, 55%, 22%, 0.9) 18%, transparent 50%),
    radial-gradient(circle at 69% 2%, hsla(349, 60%, 21%, 0.85) 8%, transparent 65%),
    radial-gradient(circle at 81% 31%, hsla(240, 52%, 12%, 0.8) 9%, transparent 80%),
    radial-gradient(circle at 41% 56%, hsla(229, 40%, 26%, 0.6) 6%, transparent 78%),
    radial-gradient(circle at 86% 44%, hsla(319, 55%, 21%, 0.75) 6%, transparent 60%),
    radial-gradient(circle at 57% 85%, hsla(310, 45%, 26%, 0.6) 15%, transparent 90%),
    radial-gradient(circle at 43% 55%, hsla(359, 60%, 15%, 0.85) 3%, transparent 69%),
    radial-gradient(circle at 26% 76%, hsla(289, 60%, 12%, 0.8) 0%, transparent 55%),
    linear-gradient(135deg, hsla(267, 30%, 20%, 0.55), hsla(336, 32%, 21%, 0.55));
  background-blend-mode: overlay, normal, normal, normal, normal, normal, normal, normal, normal, normal;
}

@keyframes ani-hero-gradient {
  0% {
    background-size: 150% 150%;
  }
  100% {
    background-size: 180% 180%;
  }
}

@keyframes shape-roll {
  0% {
    transform: rotateY(0deg) rotateX(10deg);
  }
  100% {
    transform: rotateY(360deg) rotateX(10deg);
  }
}
